<section class="sort-section">
<mat-form-field appearance="outline">
  <mat-label>Choose a sort column</mat-label>
  <mat-select  [(ngModel)]="sortOptions.key"  (selectionChange)="onSortChange(sortOptions)">
    <mat-option value="name">Name</mat-option>
    <mat-option value="price">Price</mat-option>
    <mat-option value="quantity">Quantity</mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field appearance="outline">
  <mat-label>Choose a sort order</mat-label>
  <mat-select  [(ngModel)]="sortOptions.direction"  (selectionChange)="onSortChange(sortOptions)">
    <mat-option value="asc">Ascending</mat-option>
    <mat-option value="desc">Descending</mat-option>
  </mat-select>
</mat-form-field>
</section>
