<div *ngIf="cartNotEmpty(); else elseBlock">
  <div>Carts</div>
  <ul>
    <li *ngFor="let cart of carts; trackBy: trackByItems">
      <ul>
        <li>name: {{cart.name}}</li>
        <li>description: {{cart.description}}</li>
        <li>price: {{cart.price}}</li>
        <li>category: {{cart.category}}</li>
      </ul>
    </li>
  </ul>
  <section>
    <button class="btn btn-primary" (click)="onClearCart()">Clear Cart</button>
  </section>
</div>
<ng-template #elseBlock>Cart is empty.</ng-template>
