<div *ngIf="cartNotEmpty(); else elseBlock">
  <div>Cart Items</div>
  <div>
    {{lastChange() | date:'medium'}}
  </div>
  <div>Total Cost: {{totalCost}}</div>
  <div>Total Quantity: {{totalQuantity}}</div>
  <app-cart-item
    *ngFor="let cartItem of cartItems; trackBy: trackByItems"
    [cartItem] = "cartItem"
    (quantityDecrease)="onQuantityDecrease($event)"
    (quantityIncrease)="onQuantityIncrease($event)"
    (deleteItem)="onDeleteItem($event)"
  ></app-cart-item>
  <section>
    <button class="btn btn-primary" (click)="onClearCart()">Clear Cart</button>
  </section>
</div>
<ng-template #elseBlock>Cart is empty.</ng-template>
