<div>
  <div>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#" routerLink="/products-list">Products</a>
        </div>
        <div>
          <ul class="nav navbar-nav">
            <li routerLinkActive="active">
              <a routerLink="/cart">Cart</a>
            </li>
            <li routerLinkActive="active">
              <a routerLink="/first">First</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="col-md-10">
        <router-outlet
          #routerOutlet="outlet"
          (activate)='onActivate($event, routerOutlet)'
          (deactivate)='onDeactivate($event, routerOutlet)'>
        </router-outlet>
      </div>
    </div>
  </div>
</div>
